NekoRobot/*.session
NekoRobot/*.session-journal
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
NekoRobot/modules/helper_funcs/temp.txt
NekoRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
neko.session-journal
updates.txt
*.exe
