future
redis
emoji
pydub
numpy
multicolorcaptcha
redis==3.5.3
tzlocal==2.0
python-barcode==0.13.1
pykeyboard
lxml
wget
PyDictionary
mtranslate
googletrans
aioredis==2.0.0
gpytranslate
gtts
python-telegram-bot==13.10
faker
markdown
beautifulsoup4
opencv-python-headless
requests==2.20.0
sqlalchemy==1.3.23
psycopg2-binary
feedparser
hachoir
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
google_trans_new
jikanpy
speedtest-cli
coffeehouse==2.2.4
regex
bleach
git+https://github.com/python-telegram-bot/ptbcontrib.git
wikipedia
telethon==1.24.0
telegraph
heroku3
spamwatch
alphabet_detector
pybase64
pySmartDL
validators
nekos.py
aiofiles
pyrate-limiter
cachetools
ujson
pretty_errors
TgCrypto
Pyrogram
PyYAML>=5.3.1
pretty_errors
nltk==3.6.5
futures==3.1.1
ffmpeg==1.4
ffmpeg-python
markdown2
youtube-search-python
asyncio
dateparser==1.0.0
pymongo==3.12.1
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
fontTools
bing_image_downloader
search_engine_parser
pytz
lyricsgenius
tswift
envparse
better_profanity
nudepy
motor
cloudscraper
python-arq
pytube
tldextract
cloudmersive_virus_api_client
youtube_search
pretty-errors
odmantic
